extends ../base.pug
include ../../components/UI/currLocation.pug
block title
    |  - Информация
block main
    .information
        .main_info
            .container
                .row
                    .col-md-3
                    .col-md-9
                        +currentLocation('Новости')

                        H1 Обзор выставки садового инструмента
                        p.data_text 14.07.2017 13:14:13
                        .intext_image
                            img(src=require('../../components/images/news1.png'))
                        h4
                        | На прошлой неделе в Москве завершила свою работу специализированная выставка садового инструмента.

                        p На выставке были представлены многие компании со своей продукцией, но по результатам опроса, особой популярностью среди посетителей выставки пользовался отдел электрического садового инструмента компании HYUNDAI.
                        p На прошлой неделе в Москве завершила свою работу специализированная выставка садового инструмента. На выставке были представлены многие компании со своей продукцией, но по результатам опроса, особой популярностью среди посетителей выставки пользовался отдел электрического садового инструмента компании HYUNDAI.
                        p Компания HYUNDAI на этой выставке демонстрировала свои лучшие бензиновые, сетевые и аккумуляторные газонокосилки. Специалисты компании рассказывали о плюсах своей продукции и говорили о том, как правильно выбирать газонокосилку. Мы решили осветить данную тему с учетом ее актуальности в дачный период. При покупке газонокосилки Вам нужно учесть следующие характеристики, которые напрямую влияют на их производительность.
                        h2 Источник питания
                        p В бензиновых газонокосилках источником питания выступает бензин АИ-92 и масло, соединяемые в соотношении 32:1 (при использовании минерального масла) или 50:1 (при использовании синтетического масло). Аккумуляторные газонокосилки оснащены электрическим двигателем, который питается от съемной батареи. Данные тип газонокосилок наиболее мобилен и у них лучше маневренность в отличие от сетевых газонокосилок, которые питаются напрямую от сети, а электрический кабель сковывает движения газонокосилки.
                        h2 Травосборник.
                        p Травосборник – это специальная емкость, в которой собирается скошенная трава, травосборник весьма полезен в случае, если вы не желаете видеть после обработки газона срезанную траву. Они изготавливаются как из ткани, так и из пластмассы. Пластмассовые травосборники наиболее практичны, нежели тканевые т.к. они более долговечны, из них легче высыпать траву и их легче мыть.
                        h2 Регулирование высоты скоса травы.
                        p Регулировать высоту кошения можно несколькими способами. Самый легкий из них, при котором на деке есть несколько специальных отверстий находящихся на различном уровне. В этом случае вы меняете высоту путем прикрепления оси в отверстие, которое вам необходимо. Также есть методика изменения высоты скоса травы путем переключения рычага, установленного на колесах газонокосилки. В данном случае на каждом из колес имеется рычаг, который меняет высоту кошения. Этот параметр изменяется для каждого из колёс индивидуально. Самый удобный способ – это центральная регулировка высоты. Меняется высота кошения путём нажатия одного рычага или вращения одной центральной кнопки. Чтобы ваш газон выглядел здоровым и красивым стричь его нужно не более чем на 1/3 высоты травы за один раз. Если у вас имеется необходимость менять высоту скоса травы очень часто, то практичнее купить газонокосилку с регулированием высоты при помощи рычага, установленного на колесах или с центральной регулировкой.
                        h2 Боковой выброс травы.
                        p Некоторые модели газонокосилок HYUNDAI моментально выбрасывают покошенную траву в сторону. Это может быть удобным, поскольку избавляет от хлопот по чистке деки, но на свежескошенном газоне остается трава, которую вы только что скосили.
                        h2 Нож
                        p Большой и острый нож будет намного быстрее срезать траву, что позволяет сэкономить ваше драгоценное время. При покупке важно проследить за тем, чтобы режущий элемент был максимально острым и тогда скошенный газон будет выглядеть опрятным и красивым. Спросите консультанта, где располагается сервисный центр и именно там рекомендуется впоследствии производить заточку режущего элемента для вашей газонокосилки. Это можно конечно сделать самому, но при заточке режущего элемента вы можете допустить фатальную ошибку, тем самым нарушите баланс, что может привести к возникновению вибрации и ухудшению работы всего механизма в целом. Так одна единственная неправильная самостоятельная заточка может привести вас к лишним и непредвиденным затратам! Поэтому важно не экономить на обслуживании данного изделия. Также нужно узнать место положения и контактные телефоны сервисного центра для того, чтобы в случае возникших поломок или интересующих вас вопросов можно было в короткие сроки туда обратиться.
                        h2 Длина шнура
                        p Не менее важный пункт. О длине шнура нужно непременно поинтересоваться у продавца, если вы собираетесь приобрести электрическую газонокосилку с питанием от электрической сети. Длина шнура будет ограничивать "поле деятельности".
                        h2 Колеса газонокосилки.
                        p От их высоты напрямую зависит легкость передвижения агрегата. Чем больше диаметр колес, тем легче будет перемещать её по газону. На это особенно нужно обратить внимание, если на участке, который вы собираетесь обрабатывать почва имеет неровности, а трава высокая. Также широкие колеса не повреждают газон.
        .more_news
            .container
                .row
                    .col-md-3
                    .col-md-9
                        h1 Еще новости
            .container
                .row
                    .col-md-3
                    .col-md-3
                        img(src=require('../../components/images/news1.png'))
                        .news_title
                            p Многофункциональный инструмент ЗУБР серии Мастер
                        .news_data
                            p 30 января
                        img(src=require('../../components/images/balls_carousel.png'))

                    .col-md-3
                        img(src=require('../../components/images/news2.png'))
                        .news_title
                            p Обзор выставки садового инструмента
                        .news_data
                            p 29 января
                    .col-md-3
                        img(src=require('../../components/images/news1.png'))
                        .news_title
                            p Многофункциональный инструмент ЗУБР серии Мастер
                        .news_data
                            p 30 января
                        img(src=require('../../components/images/arrows-hollow.png')).arrows_hollow